
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    /*cursor: url("https://cdn.discordapp.com/emojis/846390795819810856.webp?size=96&quality=lossless"), auto;*/
}

/* Set default scrollbar*/
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent; 
}

*::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   border: 2px solid #f8f9fe;
   background: #c5c5c5;
   
}


body{
    min-height: 100vh;
    overflow-x: hidden;
    
}

.container{
    position: relative;
    width: 100%;
}

/*#region Navbar*/
/*Navbar*/
.navigation{
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    background: -webkit-linear-gradient(top left, #36cced, #0749d9);
    transition: 0.5s;
    overflow-x: hidden;
    
    
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 10px;
    width: 280px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

.navigation ul li .title{
    left: 10px;
}

.navigation ul li:hover{
    background-color: #9f9f9f;
}
.navigation ul li.selected{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    
}

/*For manalynx logo and text do nothing*/
.navigation ul li:nth-child(1){
    top: -10px;
    margin-bottom: 40px;
    pointer-events: none;
}

.brand{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 70px;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    transition: 0.5s;
}

.brand-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.brand-logo img{
    height: 40px;
}

.brand-name{
    display: inline-flex;
    color: #32325d;
}

.brand-name-name{
    font-size: 25px;
}

.brand-name-type{
    font-size: 15px;
    color: rgb(255, 166, 0);
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    top: 5px;
    left: 5px;
    text-decoration: none;
    color: white
}

.navigation ul li.selected a{
    color: gray;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    padding-top: 4px;
    min-width: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon img{
    height: 24px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*Change scrollbar only for navbar*/
.navigation::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}


/*#endregion */

/*#region Main*/

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    height: 100%;
    transition: 0.5s;
    background-color: white;
    overflow: overlay;
    overflow-x: hidden;
}

/*Ocean Image*/
.main .background-image{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 60vh;
    z-index: 0;
}

.main .background-image img{
    width: 100vw;
}

/*#region TopMenu*/
.top-menu{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 98.8%;
    height: 90px;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
    text-align: center;
    transition: 0.25s;
    z-index: 3;
    background-color: rgba(197, 197, 197, 0.7);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

/*Button for collapsing navbar*/
.top-menu button{
    margin-left: -3vw;
    width: 50px;
    height: 50px;
    background: #44bbe9;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    transition: 0.25s;
}

.top-menu button:hover{
    background-color: #9f9f9f;
}

.menu-button-icon{
    height: 24px;
    transition: 0.25s;
    position:relative;
    right: 0px;
    transform: rotate(90deg);
}


.top-menu .name{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #f8f9fe;
    color: #808080;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.settings{
    margin-right: -3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

.settings-cog{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    background-color: #f8f9fe;
    transition: 0.25s;
    
}

.settings-cog img{
    margin-top: 4px;
    margin-left: 1px;
    width: 40px;
}

.settings-cog:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 20px;
    border-radius: 20px;
}

.settings-icon-user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius:50%;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    transition: 0.25s;
}

.settings-icon-user:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 20px;
    border-radius: 20px;
}

.settings-icon-user a img{
    width: 50px;
}

/*#endregion */


/*#region Content*/

.content{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 2;
}


.stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;
    width: 95%;
    height: 60%;
    z-index: 2;
}

.stats-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.stats-top .card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 20%;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    padding: 15px;
    color: #32325d;
    font-size: 18px;
    transition: 0.5s;
    gap: 5px;
    overflow: hidden;
}

.stats-top .circle:nth-child(1){
    position: absolute;
    top: -10px;
    right: -15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}
.stats-top .circle:nth-child(2){
    position: absolute;
    bottom: 20px;
    right: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}


.stats-top .card:hover{
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.stats-top .card div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#9f9f9f;
    font-size: 11px;
}

.stats-top .card:nth-child(2),
.stats-top .card:nth-child(4){
    background: -webkit-linear-gradient(top left, #5cd6f1, #078cd9);
}

.stats-top .card:nth-child(2) div,
.stats-top .card:nth-child(4) div{
    color: rgb(241, 241, 241);
}



.stats-top .card div img{
    border-radius: 10px;
    padding: 5px;
    background-color: #f8f9fe;
    height: 35px;
    position: relative;
}

.stats-bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.stats-bottom .card{
    display: block;
    position: relative;
    height: 60vh;
    width: 60%;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.stats-bottom .card:nth-child(2){
    width: 40%;
}

/* #region Management */
.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 40%;
    gap: 20px;
}

.management .title{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    top: 0px;
    font-size: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: #f8f9fe;
    color: #32325d;
}

.management ul{
    width: 100%;
    overflow-y: scroll;
    overflow: overlay;
}

.management ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: #f8f9fe;
}

.management ul li:nth-child(1){
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}

.management ul li span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    white-space:nowrap;
    height: 50px;
    color: #32325d;
    width: 200px;
    text-decoration: none;
}
.management ul li:nth-child(1) span{
    color: #8898aa;
}

/*#region ManagementCliente*/

.management .cliente{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 60%;
    overflow-x: hidden;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    border-radius: 10px;
}

/*#endregion*/

/*#region ManagementAgente*/
.management .agente{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 40%;
    overflow-x: hidden;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    border-radius: 10px;
}

/*#region ManagementApólices*/
.management .apolices{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    border-radius: 10px;
}

/*#region FAQ*/

.faq{
    width: 95%;
    height: 75vh;
    background-color: #f8f9fe;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.faq .wrapper .container {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
    margin: 20px 0;
}

.question {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
}

.question.active::after {
    transform: rotate(45deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

/*#endregion*/

/*endregion*/

/*#endregion*/

.content footer{
    display: flex;
    justify-content: space-between;
    color: #808080;
}

.content footer a{
    text-decoration: none;
    font-weight: bold;
    font-family:  Sans,sans-serif;
    color: #078cd9;
}

/*#endregion */

/*#region Pedido de simulação*/

.simulacao-page{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    z-index: 2;
}

.agente-simulacao-top-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 98%;
}

.agente-simulacao-top-row .agente-simulacao-top-card{
    height: 30vh;
    width: 30%;
    border-radius: 15px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;

}
.agente-simulacao-top-row .title{
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.apolices-to-check{
    display: flex;
    justify-content: top;
    align-items: normal;
    flex-direction: column;
    margin-top: 10px;
    height: 23.4vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f8f9fe;
}

.apolices-to-check ul{
    width: 100%;
    overflow-y: scroll;
    overflow: overlay;
}

.apolices-to-check ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: #f8f9fe;
}

.apolices-to-check ul li:nth-child(1){
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}

.apolices-to-check ul li span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    white-space:nowrap;
    height: 50px;
    color: #32325d;
    width: 200px;
    text-decoration: none;
}

.apolices-to-check ul li span:nth-child(1){
    width: 10%;
}
.apolices-to-check ul li span:nth-child(2){
    width: 40%;
}
.apolices-to-check ul li span:nth-child(3){
    width: 30%;
}
.apolices-to-check ul li span:nth-child(4){
    width: 20%;
}
.apolices-to-check ul li:nth-child(1) span{
    color: #8898aa;
}


.simulacao-title{
    align-self: flex-start;
    width: 100%;
    margin-left: 2%;
    margin-top: 3vh;
}



.simulacao-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 98%;
}

.simulacao-content .card-form{
    height: 69vh;
    width: 60%;
    border-radius: 15px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.simulacao-content .right-side{
    width: 35%;
}

.card-coberturas{
    height: 57vh;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}
.card-valor{
    margin-top: 1.5vh;
    height: 10.5vh;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    overflow: hidden;
}

.simulacao-form {
    display: flex;
    justify-content: left;
    margin-left: 1%;
    height: 100%;
    width: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;
    border-radius: 15px;
}

.form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-content {
    background: transparent;
    border: 1px transparent;
    outline: none;
    padding-top: 14px;
    margin: 0 auto;
    width: 97%;
    transition: 0.25s;
    font-size: 16px;
    padding-bottom: 6px;
    border-bottom: 2px solid #368bed;
}
.form-content:hover, .form-content:focus{
    width: 100%;
}
.form-border {
    background: #368bed;
    height: 2px;
    width: 97%;
    margin: 0 auto;
    transition: 0.25s;

}
.form-content:hover + .form-border {
    background: #2668b4;
    width: 100%;
    border-bottom: 5px #2668b4;
}
.form-content:focus + .form-border{
    background: #878787;
    width: 100%;
}
.underline-title {
    background: #368bed;
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 35%;
}

.form-label{
    font-family: "Raleway", sans-serif;
    font-size: 14pt;
    padding-top:20px;
    margin-left: 1%;
}



.simulacao-cuberturas {
    display: flex;
    justify-content: left;
    height: 98%;
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;
    border-radius: 15px;
}

.veiculo-info{
    width: 97%;
    padding-top: 14px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.form-icon img{
    width: 1.5em;
    height: 1.5em;
}
.form-icon{
 margin-right: 0.5vw;
}

.coberturas-title{
    align-self: flex-start;
    width: 100%;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 10px;
}

.btn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 7px 28px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

/* Blue */
.info {
    border-color: #368bed;
    color: #368bed
}

.info:hover {
    background: #368bed;
    color: white;
    transition: 0.3s;
}
.coberturas-button{
    margin-top: 1%;
    width: 95%;
    margin-left: 2.5%;
}

.simulacao-button{
    width: 30vw;
}

.simulacao-page footer{
    display: flex;
    justify-content: space-between;
    color: #808080;
}

.simulacao-page footer a{
    text-decoration: none;
    font-weight: bold;
    font-family:  Sans,sans-serif;
    color: #078cd9;
}

.coberturas-selected{
    display: flex;
    justify-content: top;
    align-items: normal;
    flex-direction: column;
    margin-top: 20px;
    height: 46vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f8f9fe;
}

.coberturas-selected ul{
    width: 100%;
    overflow-y: scroll;
    overflow: overlay;
}

.coberturas-selected ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: #f8f9fe;
}

.coberturas-selected ul li:nth-child(1){
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}

.coberturas-selected ul li span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    white-space:nowrap;
    height: 50px;
    color: #32325d;
    width: 200px;
    text-decoration: none;
}

.coberturas-selected ul li span:nth-child(1){
    width: 8%;
}
.coberturas-selected ul li span:nth-child(2){
    width: 20%;
}
.coberturas-selected ul li span:nth-child(3){
    width: 62%;
}
.coberturas-selected ul li span:nth-child(4){
    width: 10%;
}
.coberturas-selected ul li:nth-child(1) span{
    color: #8898aa;
}

/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
}

.simulacao-devider{
    align-self: center;
    margin-top: 15px;
    width: 99%;
}

.simulacao-footer{
    display: flex;
}

.simulacao-valor{
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    vertical-align: middle;
    padding: 5px 0;
}
.simulacao-valor .simulacao-valor-text{
    padding-top: 5px;
    text-align: center;
}
.simulacao-valor .simulacao-valor-number{
    font-family: 'Muli', sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #078cd9;
}
/*#endregion */

/*#region Ajust things zoom*/
@media only screen and (max-width: 1300px){
    .name{ 
        width: 600px;
        font-size: 15px;
    
    }
}

@media only screen and (max-width: 1100px){
    .name{ 
       width: 400px;
       font-size: 10px;
    }
}

@media only screen and (max-width: 800px){
    .name{ 
       display: none;
    }
}

/*#endregion*/

.btn-center{ 
    margin: auto;
    width: 50%;
    padding: 10px; 
}

.agente-selected{
    display: flex;
    justify-content: top;
    align-items: normal;
    flex-direction: column;
    margin-top: 20px;
    height: 55vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f8f9fe;
}

.agente-selected ul{
    width: 100%;
    overflow-y: scroll;
    overflow: overlay;
}

.agente-selected ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: #f8f9fe;
}

.agente-selected ul li:nth-child(1){
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}

.agente-selected ul li span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding-left: 25px;*/
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    white-space:nowrap;
    height: 50px;
    color: #32325d;
    width: 20px;
    text-decoration: none;
}

.agente-selected ul li span:nth-child(1){
    padding-left: 25px;
    width: 10%;
}
.agente-selected ul li span:nth-child(2){
    width: 35%;
}
.agente-selected ul li span:nth-child(3){
    width: 40%;
}
.agente-selected ul li span:nth-child(4){
    width: 5%;
}
.agente-selected ul li span:nth-child(5){
    width: 5%;
}
.agente-selected ul li:nth-child(1) span{
    color: #8898aa;
}

.align-left{
    float: left;
}

.card-fullHeight{
    height: 69vh;
    border-radius: 10px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}


/* #region DadosPessoais */

.dadosPessoais{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 98%;
}

.dadosPessoais .info-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    z-index: 1;
    height: 69vh;
    width: 60%;
    border-radius: 15px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    overflow: hidden;
}

.info-card .picture{
    display: flex;
    /* width: 85%; */
    /* justify-content: center; */
    line-height: 150px;
    height: 150px;
    padding-bottom: 20px;
}

.info-card .picture > span{
    overflow: hidden;
    display: inline-block;
    font-size: large;
    vertical-align: middle;
    padding-left: 20px;;
    /* display: flex; */
}

.info-card .picture > img{
    display: flex;
    object-fit: cover;
    top: -50%;
    left: -50%;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.info-card .form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    padding-inline: 30px;
}

/* 
.info-card .form-personal .form-label{
    font-size: medium;
} */

.info-card .buttons{
}


/* #endregion */

/* #region Leads */

.leads{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 98%;
}

.leads .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    z-index: 1;
    height: 69vh;
    width: 60%;
    border-radius: 15px;
    background-color: #f8f9fe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    overflow: hidden;
}

.card .form-nome{
    padding: 30px;
}

.card .form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    padding-inline: 30px;
}

.card .form .form-personal{
        
}

.leads .card > h1{
    display: flex;
    justify-content: left;
}

/* #endregion */