a{
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(top left, #36cced, #0749d9);
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#logo{
  width: 50%;
  margin: auto;
  margin-top: 25px;
  display: block;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#forgot-pass {
  color: #368bed;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
  transition: 0.25s;
}
#forgot-pass:hover{
  color: #2668b4;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 600px;
  margin: 12rem auto 8.1rem auto;
  width: 400px;
}
#card-content {
  padding: 12px 44px;

}
#card-title {
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  color: #32325d;
}
#signup {
  color: #368bed;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
  transition: 0.25s;
}
#signup:hover{
  color: #2668b4;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #36cced, #0749d9);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 8px #36cced;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #055a9f;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column; 
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
  margin: 0 auto;
  width: 97%;
  transition: 0.25s;
}
.form-content:hover, .form-content:focus{
  width: 100%;
}
.form-border {
  background: #368bed;
  height: 2px;
  width: 97%;
  margin: 0 auto;
  transition: 0.25s;
  
}
.form-content:hover + .form-border {
  background: #2668b4;
  width: 100%;
}
.form-content:focus + .form-border{
  background: #878787;
  width: 100%;
}
.underline-title {
  background: #368bed;
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 35%;
}

footer a{
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: bolder;
}