<div class="grid" *ngIf="!createCliente">
    <div class="col-12 lg:col-6">
        <div class="card p-fluid">
            <div class="p-formgrid grid">
                <h5 class="col-6">Detalhes de Lead</h5>
                <span class="p-buttonset col-6">
                    <button pButton pRipple id="Save" label="Save" icon="pi pi-check" (click)="saveLead()"></button>
                    <button pButton pRipple id="Create" label="Create" icon="pi pi-plus" class="p-button-success" (click)="addCliente()"></button>
                    <button pButton pRipple id="Cancel" label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="resetNewLead()"></button>
                </span>
                <div class="field col-12">
                    <label htmlFor="leadNome">Nome</label>
                    <input pInputText id="leadNome" type="text" [(ngModel)]="newLead.pessoa.nome" />
                </div>
                <div class="p-formgrid grid col-12">
                    <div class="field col">
                        <label htmlFor="leadDataNascimento">Data Nascimento</label>
                        <input pInputText id="leadDataNascimento" type="date" [(ngModel)]="newLead.pessoa.dataNascimento"/>
                    </div>
                    <div class="field col">
                        <label htmlFor="leadEstadoCivil">Estado Civil</label>
                        <p-dropdown [options]="estados" [selectId]="estadoCivil.id" [(ngModel)]="estadoCivil" id="estadoDropDown"></p-dropdown>
                    </div>
                    <div class="field col">
                        <label htmlFor="leadNacionalidade">Nacionalidade</label>
                        <input pInputText id="leadNacionalidade" type="text" [(ngModel)]="newLead.pessoa.nacionalidade"/>
                    </div>
                </div>  

                <h5 class="col-12">Contactos da Lead</h5>
                <div class="p-formgrid grid col-12">
                    <div class="field col-4">
                        <label htmlFor="tipoContacto">Tipo Contacto</label>
                        <p-dropdown [options]="tiposContacto" [selectId]="estadoCivil.id" [(ngModel)]="tipo" id="tipoContacto"></p-dropdown>
                    </div>
                    <div class="field col-8">
                        <label htmlFor="contacto">Contacto</label>
                        <input pInputText id="contacto" type="text" [(ngModel)]="contacto.valor"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card p-fluid">
        <h5>Clientes</h5>
        <p-table #dt1 [value]="clientes" dataKey="id" [rows]="8" [rowHover]="true" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            ID
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Nome
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr (click)="selectCliente(cliente)">
                    <td style="min-width: 1rem;">
                        <button pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="deleteContacto(contacto)"></button>
                    </td>
                    <td style="min-width: 2rem;">
                        {{cliente.id}}
                    </td>
                    <td style="min-width: 12rem;">
                        {{cliente.pessoa.nome}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No Clientes found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Loading Clientes data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div class="card p-fluid">
        <h5>Leads</h5>
        <p-table #dt1 [value]="leads" dataKey="id" [rows]="8" [rowHover]="true" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            <p-column type="text" field="name"></p-column>
                        </div>
                        <div class="flex justify-content-between align-items-center">
                            ID
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Nome
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lead>
                <tr (click)="getLeadInfo(lead)">
                    <td style="min-width: 1rem;">
                        <button pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="deleteLead(lead)"></button>
                    </td>
                    <td style="min-width: 2rem;">
                        {{lead.id}}
                    </td>
                    <td style="min-width: 12rem;">
                        {{lead.pessoa.nome}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No Leads found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Loading Leads data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>

<div class="grid" *ngIf="createCliente">
    <div class="col-12 lg:col-6">
        <div class="card p-fluid">
            <div class="p-formgrid grid">
                <h5 class="col-8">Detalhes Pessoais</h5>
                <span class="p-buttonset col-4">
                    <button pButton pRipple label="Save" icon="pi pi-check" (click)="saveCliente()"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="cancelCliente()"></button>
                </span>
            </div>
            <div class="p-formgrid grid">
                <div class="field col-12">
                    <label htmlFor="nome">Nome</label>
                    <input pInputText id="nome" type="text" [(ngModel)]="newLead.pessoa.nome" />
                </div>
                <div class="field col">
                    <label htmlFor="dataNascimento">Data Nascimento</label>
                    <input pInputText id="dataNascimento" type="date" [(ngModel)]="newLead.pessoa.dataNascimento"/>
                </div>
                <div class="field col">
                    <label htmlFor="estadoCivil">Estado Civil</label>
                    <p-dropdown [options]="estados" [(ngModel)]="estadoCivil" id="estadoDropDown"></p-dropdown>
                </div>
                <div class="field col">
                    <label htmlFor="nacionalidade">Nacionalidade</label>
                    <input pInputText id="nacionalidade" type="text" [(ngModel)]="newLead.pessoa.nacionalidade"/>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="numeroCc">Número Cartão Cidadão</label>
                    <input pInputText id="numeroCc" type="text" [(ngModel)]="newLead.pessoa.cc"/>
                </div>
                <div class="field col">
                    <label htmlFor="validadeCc">Validade CC</label>
                    <input pInputText id="validadeCc" type="date" [(ngModel)]="newLead.pessoa.validadeCc"/>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="nif">NIF</label>
                    <input pInputText id="nif" type="text" [(ngModel)]="newLead.pessoa.nif"/>
                </div>
                <div class="field col">
                    <label htmlFor="nss">NSS</label>
                    <input pInputText id="nss" type="text" [(ngModel)]="newLead.pessoa.nss"/>
                </div>
                <div class="field col">
                    <label htmlFor="nus">NUS</label>
                    <input pInputText id="nus" type="text" [(ngModel)]="newLead.pessoa.nus"/>
                </div>
            </div>
            <div class="cliente-only">
                <div class="field col-6">
                    <label htmlFor="nss">Profissão</label>
                    <input pInputText id="nss" type="text" [(ngModel)]="newLead.profissao">
                </div>
                <div class="field-checkbox col">
                    <p-checkbox name="group1" [binary]="true" [(ngModel)]="newLead.profissaoRisco" id="risco"></p-checkbox>
                    <label for="risco">Profissão de Risco</label>
                </div>
            </div>
        </div>
        <div class="card p-fluid">
            <div class="p-formgrid grid">
                <h5 class="col-8">Contactos</h5>
                <span class="p-buttonset col-4">
                    <button pButton pRipple label="Save" icon="pi pi-check" (click)="saveContacto()"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="resetContacto()"></button>
                </span>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="tipoContacto">Tipo Contacto</label>
                    <p-dropdown [options]="tiposContacto" [(ngModel)]="tipo" id="tipoContacto"></p-dropdown>
                </div>
                <div class="field col-8">
                    <label htmlFor="contacto">Contacto</label>
                    <input pInputText id="contacto" type="text" [(ngModel)]="newContacto.valor"/>
                </div>
            </div>
        </div>
        <div class="card p-fluid">
            <div class="p-formgrid grid">
                <h5 class="col-8">Veículos</h5>
                <span class="p-buttonset col-4">
                    <button pButton pRipple label="Save" icon="pi pi-check" (click)="saveVeiculo()"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="resetVeiculo()"></button>
                </span>
            </div>
            <div class="p-formgrid grid">
                <div class="field col-6">
                    <label htmlFor="vin">VIN</label>
                    <input pInputText id="vin" type="text" [(ngModel)]="newVeiculo.vin"/>
                </div>
                <div class="field col-6">
                    <label htmlFor="categoria">Categoria Veículo</label>
                    <p-dropdown [options]="categorias" [(ngModel)]="categoria" id="tipoContacto"></p-dropdown>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="marca">Marca</label>
                    <input pInputText id="marca" type="text" [(ngModel)]="newVeiculo.marca"/>
                </div>
                <div class="field col">
                    <label htmlFor="modelo">Modelo</label>
                    <input pInputText id="modelo" type="text" [(ngModel)]="newVeiculo.modelo"/>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="cilindrada">Cilindrada</label>
                    <input pInputText id="cilindrada" type="text" [(ngModel)]="newVeiculo.cilindrada"/>
                </div>
                <div class="field col">
                    <label htmlFor="potencia">Potência</label>
                    <input pInputText id="potencia" type="text" [(ngModel)]="newVeiculo.potencia"/>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="matricula">Matrícula</label>
                    <input pInputText id="matricula" type="text" [(ngModel)]="newVeiculo.matricula"/>
                </div>
                <div class="field col">
                    <label htmlFor="ano">Ano</label>
                    <input pInputText id="ano" type="text" [(ngModel)]="newVeiculo.ano"/>
                </div>
                <div class="field col">
                    <label htmlFor="mes">Mês</label>
                    <input pInputText id="mes" type="text" [(ngModel)]="newVeiculo.mes"/>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="portas">Portas</label>
                    <input pInputText id="portas" type="text" [(ngModel)]="newVeiculo.portas"/>
                </div>
                <div class="field col">
                    <label htmlFor="lugares">Lugares</label>
                    <input pInputText id="lugares" type="text" [(ngModel)]="newVeiculo.lugares"/>
                </div>
                <div class="field col">
                    <label htmlFor="peso">Peso</label>
                    <input pInputText id="peso" type="text" [(ngModel)]="newVeiculo.peso"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card p-fluid">
        <h5>Contactos</h5>
        <p-table #dt1 [value]="contactos" dataKey="id" [rows]="8" [rowHover]="true" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Tipo
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Contacto
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contacto>
                <tr class="overflow:scroll" (click)="selectContacto(contacto)">
                    <td style="min-width: 1rem;">
                        <button pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="deleteContacto(contacto)"></button>
                    </td>
                    <td style="min-width: 4rem;">
                        {{contacto.tipo}}
                    </td>
                    <td style="min-width: 12rem;">
                        {{contacto.valor}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No Contactos found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Loading Contactos data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>

        <div class="card p-fluid">
        <h5>Veículos</h5>
        <p-table #dt1 [value]="veiculos" dataKey="id" [rows]="8" [rowHover]="true" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            VIN
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Marca
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Modelo
                            <p-column type="text" field="name"></p-column>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-veiculo>
                <tr class="overflow:scroll;" (click)="selectVeiculo(veiculo)">
                    <td style="min-width: 2rem;">
                        <button pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="deleteVeiculo(veiculo)"></button>
                    </td>
                    <td style="min-width: 6rem;">
                        {{veiculo.vin}}
                    </td>
                    <td style="min-width: 6rem;">
                        {{veiculo.marca}}
                    </td>
                    <td style="min-width: 6rem;">
                        {{veiculo.modelo}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No Veiculos found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Loading Veiculos data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>